<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364975987439-pa3p6ajqjh341hhrqg92b814ou033skl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364975987439-pa3p6ajqjh341hhrqg92b814ou033skl</string>
	<key>API_KEY</key>
	<string>AIzaSyCOS3zogcSTw7gmnRVRGoQMgxVUAZ7AeSg</string>
	<key>GCM_SENDER_ID</key>
	<string>364975987439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.techdemoTest</string>
	<key>PROJECT_ID</key>
	<string>techdemo1healthlit</string>
	<key>STORAGE_BUCKET</key>
	<string>techdemo1healthlit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364975987439:ios:96950290c20e048dba991a</string>
</dict>
</plist>