body {
	background-color: lightblue;
}

h1,
h2
{
	font-family: "Gill Sans", sans-serif;
	font-size: 40px;
	text-align: center;
	color: white
}

p
{
	font-family: "Gill Sans", sans-serif;
	font-size: 20px;
	text-align: center;
	color: white
}

* {box-sizing: border-box}

.navbar {
  width: 100%;
  background-color: lightgray;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 16.66666666666667%; /* Six links of equal widths */
  text-align: center;
  font-family: "Gill Sans", sans-serif;
}

.navbar a:hover {
  background-color: #04AA6D;
}

.navbar a.active {
  background-color: #04AA6D;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}
.nice
{
  position: center;
}

.container {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 375px;
}

.lindly-image
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
    height: 200px;
}

.image {
    display: inline-block;
    text-align: center;
    width: 300px;
    height: 375px;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
}

.overlay {
    position: absolute;
    opacity: 0;
    transition:all .3s ease;
    background-color: #008cba;
}

.overlayLeft{
    height: 100%;
    width:0;
    top:0;
    left:0;
    background-color: #00b1ba;
}

.container:hover .overlay,.container:hover .overlayFade {
    opacity: 1;
}

.container:hover .overlayLeft ,.container:hover .overlayRight {
    width: 100%;
}
